*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

/* html {
  font-size: 62.5%;
} */

/* .container {
  background:inherit;
} */

/* @media (max-width: 650px) {
  html {
    font-size: 70.25%;
  }
}  */

body {
  font-family: "Roboto", sans-serif;
  background: #dae3e7;
  font-size: 16px;
  line-height: 1.7;
  color: #545e69;
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 1.9vw; */
}

@media (max-width: 740px) {
  .lead {
    font-size: 0.9em
  }
}

a {
  background: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}

a:visited {
  background: #fff;
  /* color: white; */
  text-decoration: none;
  border: none;
  margin: 0;
}

a:hover {
  background: inherit;
  color: #777;
  text-decoration: none;
  margin: 0;
}

a:active {
  background: inherit;
  color: #777;
  text-decoration: none;
  margin: 0;
}


h1 {
  /* margin-left: 8px; */
  font-size: 1.6rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.heading {
  font-weight: 700;
  text-transform: uppercase;

}

.body-container {
  margin: 8px;
}

.sub-text {
  font-weight: 400;
}

.jumbotron {
  /* background-image: url("img/HorseGuards.jpg"); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/HorseGuards.jpg"); */
  background-size: cover;
  background-position: 0 35%;

  color: white;
  max-height: 75%;
  margin-bottom: 0;
  /* width: 100%; */
}

.jumbotron img {
  opacity: 0;
}

.jumbo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* opacity: 0; */
}

/* FEATURE */

.feature-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 540px) {
  .feature-container {
    width: 100%;
  }
}

.feature-row {
  width: 70%;
  /* background-image: url("/img/background01.jpg"); */
  /* background-size: cover; */
  /* background-position: 0 50%; */
  /* background-position: 0 50%; */
  background: white;
  padding: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  /* background: #bfbfbf; */
}

@media (max-width: 651px) {
  .feature-row {
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature-title h2 {
  /* color: white; */
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}


@media (max-width: 540px) {
  .feature-title h2 {
    font-size: 1.6em
  }
}


/*  */
.icon-basic-webpage:before {
  content: "\e024";
}


.feature-box-heading {
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
}

.feature-box-icon {
  padding-top: 8px;
  font-size: 2.9rem;
  font-weight: 200;
  /* color: white; */
}

/* FOOTER */
footer {
  text-align: left;
  margin-top: 10px;
  padding: 8px;
  background-color: #008080;
  color: white;
}

.footerLink a {
  background: inherit;
  color: white !important;
  text-decoration: none;
  border: none;
  margin: 0;
}

/* MOBILE */

/* .mobile-container {
  width: 100%;
  padding: 8px;
  min-height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/HorseGuards.jpg");
  background-size: cover;
  background-position: 0 50%;
}

.mobile-image-container {
  background-color: transparent;
  position: absolute;
  width: 25%;
  height: 220px;
  left: 60%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/p01lc36f.jpg");
  background-size: cover;
} */



.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  font-weight: 300;
  color: #111;
  line-height: 1.0em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  white-space: pre-wrap;
  overflow-y: hidden;
  width: 100%;
  /* text-overflow: ellipsis;
  word-break: break-all; */
}

@media (max-width: 651px) {
  .code {
    font-size: 0.9em;
  }
}


/* ABOUT ME */

.aboutme {
  width: 70%;
  background: #fff;
  border-radius: 0.25rem !important;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: left;
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2) */
  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2) !important */
  /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; */
}

@media (max-width: 750px) {
  .aboutme {
    width: 95%;
    padding: 8px;
  }

  .feature-row {
    width: 95%;
  }
}

.aboutme h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  ;
}

.aboutme p {
  font-size: 0.9em;
}

.aboutme ul {
  padding-left: 20px;
}

.aboutme li {
  color: #545e69;
  font-size: 0.9em;
}

/* EXPERIENCE */

.experience-title {
  width: 100%;
  margin-bottom: 0px;
}

.experience-title h3 {
  display: inline;
  font-weight: 700;
  font-size: 1.1em;

}

.experience-title p {
  display: inline;
  font-size: 0.9em;
  font-weight: 400;
}

.experience-detail {
  width: 100%;
  margin-bottom: 20px;
}

/* PROJECTS */

/* .project-container {
  border-radius: 0.25rem !important;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: left;

  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2) !important 
} */

/* MISC */

.shadow {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2) !important
}

.bullet::before {
  content: '- '
}

/* NORMAL-A */

.normal-a {
  color: #545e69;

}

.normal-a::before {
  content: '- ';
  font-size: 18px;
  padding-bottom: 10px;
  ;
  line-height: 1.0em;
  ;
}


.center {
  margin-right: auto !important;
  margin-left: auto !important;
}

.skills-section p {
  margin-bottom: 0.0em !important;
}

.image-popup-background {
  position: fixed;
  z-index: 998;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, .75)
}

.image-popup{
  width:100%;
  height:auto;
  padding:5px;
  /* top:25%; */
  /* position: relative;; */
  margin-left:auto;
  margin-right:auto;
  /* margin:auto; */
  /* margin-right:auto; */

  /* z-index: 999; */
  /* opacity: 1; */
}