




*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
}

/* .container {
  background:inherit;
} */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background: #dae3e7;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #545e69;
  width: 100%;
  margin:0;
  padding:0;
}

a {
  background: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}

a:visited {
  background: #fff;
  /* color: white; */
  text-decoration: none;
  border: none;
  margin: 0;
}

a:hover {
  background: inherit;
  color: #777;
  text-decoration: none;
  margin: 0;
}

a:active {
  background: inherit;
  color: #777;
  text-decoration: none;
  margin: 0;
}


h1 {
  /* margin-left: 8px; */
  font-size: 1.6rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.heading {
  font-weight: 700;
  text-transform: uppercase;

}

.body-container {
  margin: 8px;
}

.sub-text {
  font-weight: 400;
}

.jumbotron {
  background-image: url("/img/HorseGuards.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/HorseGuards.jpg");
  background-size: cover;
  background-position: 0 50%;
  color: white;
  max-height: 75%;
  margin-bottom: 0;
  /* width: 100%; */
}

.jumbo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* FEATURE */

.feature-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 540px) {
  .feature-container {
    width: 100%;
  }
}

.feature-row {
  background-image: url("/img/background01.jpg");
  background-size: cover;
  background-position: 0 50%;
  /* background-position: 0 50%; */
  width: 95%;
  padding: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  margin-left:auto;
  margin-right: auto;
  /* background: #bfbfbf; */
}

@media (max-width: 540px) {
  .feature-row {
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature-title h2 {
  color: white;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* SKILLS */
.skills-card {
  background: transparent;
  border-radius: 12px;
  border: 1px solid white;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  font-size: 1.2rem;
  padding: 8px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 1.5rem;
  /* margin: 10px; */
  /* border-radius: 3px; */
  /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); */
  /* box-shadow: -6px -6px 26px 0 rgba(255,255,255,0.83), 6px 6px 0 rgba(217,210,200,0.51); */
  transition: transform .3s;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.skills-card:hover {
  transform: translateY(-1.5rem) scale(1.03)
}

.skills-card-icon {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right, #64495E, #4C5F9A);
  background-clip: text;
  -webkit-background-clip: text;
  color: hsl(0, 0%, 80%);
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.skills-card * {
  list-style: none;
}

.skills-card h3,
li {
  color: #fff;
}

.skills-card  h3 {
  font-weight: 500;
}

.skills-card li {
  font-weight: 300;
}


/*  */
.icon-basic-webpage:before {
  content: "\e024";
}


.feature-box-heading {
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
}

/* FOOTER */
footer {
  text-align: left;
  padding: 8px;
  background-color: #ddd;
  color: white;
}

/* MOBILE */

.mobile-container {
  width: 100%;
  padding: 8px;
  min-height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/HorseGuards.jpg");
  background-size: cover;
  background-position: 0 50%;
}

.mobile-image-container {
  background-color: transparent;
  position: absolute;
  width: 25%;
  height: 220px;
  left: 60%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/p01lc36f.jpg");
  background-size: cover;
}

/* ARTICLE PAGE */

.article-page {
  width: 90%;
  background: #fff;
  padding: 8px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  padding:30px;
}

.article-page h1 {
  /* color: #777; */
  font-weight: 400;
  font-size: 2.1em;
  margin-bottom: 10px;
}

.article-page h2 {
  /* color: #777; */
  font-weight: 300;
  font-size: 1.9em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-page h3 {
  /* color: #777; */
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-page p {
  color: #777;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom:12px;
  line-height: 1.7em;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  font-weight: 500;
  color: #111;
  line-height: 1.0em;
  margin-top: 0;
  margin-bottom: 0;
  padding:0;
  white-space: pre-wrap;
  width:100%;
  /* text-overflow: ellipsis;
  word-break: break-all; */
}

.article-page img {
  width: 100%
}

/* ARTICLE CARDS */

.article-card {
  border-top: 4px solid #800080;
  padding:10px;
  margin: 8px;
}

/* ABOUT ME */

.aboutme {
  width:95%;
  background: #fff;
  border-radius: 0.25rem !important;
  margin-top:10px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  padding: 30px;
  text-align: left;

  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2) !important
  /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; */
}

.aboutme h1 {
  font-size: 1.9em;
  margin-bottom: 20px;;
}

.aboutme p {

}

/* EXPERIENCE */

.experience-title {
  width:100%;
  margin-bottom:0px;
}

.experience-title h3 {
  display: inline;
  font-weight: 700;
  font-size: 1.1em;
  
}

.experience-title p {
  display: inline;
  font-size: 1.1em;
  font-weight: 400;
}

.experience-detail {
  width:100%;
  margin-bottom: 30px;
}

/* PROJECTS */

.project-container {
  border-radius: 0.25rem !important;
  margin-top:10px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  padding: 30px;
  text-align: left;

  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2) !important
}

/* MISC */

.shadow {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2) !important
}

.bullet::before {
  content: '- '
}

/* NORMAL-A */

.normal-a {
  color: #545e69;

}

.normal-a::before{
  content: '- ';
  font-size:18px;
  padding-bottom: 10px;;
  line-height: 1.0em;;
}


/* IMAGE FORMATS */

.image001 {
  width:50% !important;
  padding-left:20px;
  margin-right:auto;
  margin-left:auto;
}

.image002 {
  width:50% !important;
  padding-left:20px;
  margin-right:auto;
  margin-left:auto;
}

.image003 {
  width:30% !important;
  padding-left:20px;
  margin-right:auto;
  margin-left:auto;
}

.center {
  margin-right:auto;
  margin-left:auto;
}

.tag {
  background: rgb(140, 140, 236);
  color: white;
  font-weight: 500;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 8px;
}

.tagRow {
  margin-left:0
}