

/* ARTICLE PAGE */

.article-page {
  width: 90%;
  background: #fff;
  padding: 8px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  padding:30px;
}

@media (max-width: 650px) {
  .article-page {
    width:100%;
    padding:8px;
  }
}

.article-page h1 {
  /* color: #777; */
  font-weight: 400;
  font-size: 2.1em;
  margin-bottom: 10px;
}

.article-page h2 {
  /* color: #777; */
  font-weight: 300;
  font-size: 1.9em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-page h3 {
  /* color: #777; */
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-page p {
  color: #777;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom:12px;
  line-height: 1.7em;
}


/* ARTICLE CARDS */

.article-card {
  border-top: 4px solid #800080;
  padding:12px;
  margin: 8px;
}

.article-card-body {
  /* padding:10px; */
  
}

.article-card-body h3 {
  font-weight: 500;
  margin-top: 0;
  font-size: 1.1em;
}
